In [1]:
import pandas as pd

In [2]:
# Excel dosyasını yükleyerek DataFrame'i oluşturalım
df = pd.read_excel('data.xlsx')

# DataFrame'i görüntüleyelim
df

  Ürün  Stok Miktarı  Satış Fiyatı (TL)  Satılan Adet
0    A            22                 10            20
1    B            98                 20            30
2    C            71                 30            10
3    D            64                 40            25

In [3]:
# Yeni sütunu oluşturalım
df['yeni oluşturulmuş sütun'] = (df['Stok Miktarı'] * df['Satış Fiyatı (TL)'] / df['Satılan Adet']).astype(int)

# DataFrame'i görüntüleyelim

df

  Ürün  Stok Miktarı  Satış Fiyatı (TL)  Satılan Adet  yeni oluşturulmuş sütun
0    A            22                 10            20                       11
1    B            98                 20            30                       65
2    C            71                 30            10                      213
3    D            64                 40            25                      102

In [4]:
# Seçilen sütunun değerlerini listeleyelim
print("\nSeçilen sütunun değerleri:")
print(df['yeni oluşturulmuş sütun'].values)

Seçilen sütunun değerleri:
[ 11  65 213 102]

In [5]:
# Seçilen sayısal sütunun istatistiksel değerlerini tek seferde yazdıralım
print("\nSayısal sütunun istatistiksel değerleri:")
print(df['yeni oluşturulmuş sütun'].describe())

Sayısal sütunun istatistiksel değerleri:
count      4.000000
mean      97.750000
std       85.437599
min       11.000000
25%       51.500000
50%       83.500000
75%      129.750000
max      213.000000
Name: yeni oluşturulmuş sütun, dtype: float64

In [6]:
# Veri Setimizin ilk halini görmek için kullandığımız kod

pd.read_excel("data.xlsx")

  Ürün  Stok Miktarı  Satış Fiyatı (TL)  Satılan Adet
0    A            22                 10            20
1    B            98                 20            30
2    C            71                 30            10
3    D            64                 40            25

In [7]:
# Veri Setimizin son halini görmek için kullandığımız kod

df

  Ürün  Stok Miktarı  Satış Fiyatı (TL)  Satılan Adet  yeni oluşturulmuş sütun
0    A            22                 10            20                       11
1    B            98                 20            30                       65
2    C            71                 30            10                      213
3    D            64                 40            25                      102

In [8]:
# DataFrame'in sütunlarını listeleyen kod
print("\nDataFrame'in sütunları:")
print(df.columns)

DataFrame'in sütunları:
Index(['Ürün', 'Stok Miktarı', 'Satış Fiyatı (TL)', 'Satılan Adet',
       'yeni oluşturulmuş sütun'],
      dtype='object')